<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Candidate</title>
</head>

<body>
<div class="container">
    <h1>Candidate!</h1>
</div>

<form th:action="@{/candidate}" method="get">
    <div class="mb-3">
        <label class="form-check-label">Availability:</label>
        <select class="form-select" name="availabilityStatus">
            <option value="">All</option>
            <option value="true">Available</option>
            <option value="false">Not Available</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Skills:</label>
        <select class="form-select" multiple name="skills">
            <option th:each="skill : ${allSkills}" th:value="${skill.skillName}" th:text="${skill.skillName}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>



<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/candidate/new}" class="btn btn-info" role="button">New Candidate</a>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/}" class="btn btn-info" role="button">Home</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2>All Candidates</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Skills</th>
            <th>Availability Status</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.firstName}"></td>
            <td th:text="${candidate.lastName}"></td>
            <td>
                <ul>
                    <li th:each="skill : ${candidate.skills}" th:text="${skill.skillName}"></li>
                </ul>
            </td>
            <td th:text="${candidate.availabilityStatus}"></td>
            <td><a th:href="@{/candidate/profile/{email}(email=${candidate.email})}" class="btn btn-primary">View</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
