<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>

<div class="container">
    <h1>Welcome to the Dashboard!</h1>

    <div>
        <div class="container mt-4">
            <h2>Candidate Details</h2>
            <div>
                <img th:if="${candidate.profileImage}" th:src="@{/candidate/profile/image/{candidateEmail}(candidateEmail=${candidate.email})}" alt="Profile Image" class="img-thumbnail"/>
                <img th:unless="${candidate.profileImage}" th:src="@{/images/profile/standard-profile.png}" alt="Default Profile Image" class="img-thumbnail" width="auto" height="300px"/>   <p><strong>First Name:</strong> <span th:text="${candidate.firstName}"></span></p>
                <p><strong>Last Name:</strong> <span th:text="${candidate.lastName}"></span></p>
                <p><strong>Email:</strong> <span th:text="${candidate.email}"></span></p>
                <p><strong>Skills:</strong> <span th:text="${candidate.skills}"></span></p>
                <p><strong>Phone Number:</strong> <span th:text="${candidate.phoneNumber}"></span></p>
                <p><strong>Availability Status:</strong> <span th:text="${candidate.available}"></span></p>
            </div>
        </div>

    </div>
    <div class="container mt-4">
        <a th:href="@{/edit-profile}" class="btn btn-info" role="button">Edit</a>
    </div>
    <div class="container mt-4">
        <a th:href="@{/upload-image}" class="btn btn-info" role="button">Change Image</a>
    </div>

</div>

</body>
</html>
