<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Job Offer</title>
</head>

<body>
<div class="container">
    <h1>Job Offer!</h1>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/company/new}" class="btn btn-info" role="button">New Company</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/joboffer/new}" class="btn btn-info" role="button">New Job Offer</a>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/}" class="btn btn-info" role="button">Home</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2>All Job Offers</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Experience Level</th>
            <th>Other Requirements</th>
            <th>Skills</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jobOffer : ${jobOffers}">
            <td th:text="${jobOffer.name}"></td>
            <td th:text="${jobOffer.experienceLevel}"></td>
            <td th:text="${jobOffer.otherRequirements}"></td>
            <td th:text="${jobOffer.skills}"></td>
            <td th:text="${jobOffer.company.companyName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/}" class="btn btn-info" role="button">New Job Offer</a>
        </div>
    </div>
</div>
</body>
</html>
